.drawer {
    width : 25% !important ;
    height :525px !important ;
}

.column {
    flex : auto !important ;
}

.emoji-dialog {
    z-index : 1 !important  ;
    position : fixed !important ;
    top : 60px !important ;
    left : 5px !important ;
    width : 280px !important ; 
    margin-left : 21% !important ;
    height : 90% !important ;
}

.privacy-dropdown__dropdown {
    z-index : 1000 !important  ;
    position : fixed !important ;
    left : 0% !important ;
    top :  430px !important;
    padding-left : 10px !important ;
}

.column:nth-child(3) {
    z-index: 0 !important;
    position : absolute !important ;
    width : 25% !important ;
    height : 100% !important ;
    top : 510px !important ;
    left : 0% !important ;
    padding-left : 10px !important ;
}

.dropdown__content {
    z-index: 1000 !important;
    position : absolute !important ;
}
